body {
    background-color: whitesmoke;
}

th {
    text-align: left;
}

.navbar-custom {
    background-color: #000;
    color: #ffffff
}

.navbar-custom {
    height: 100px;
    padding-left: 15px;
}

.navbar-brand {
    color: dodgerblue;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav {
    padding-left: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li > a {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

.table-custom {
    background-color: white;
    table-layout: auto;
}

.thead-custom {
    background-color: #040000;
    color: #ffffff
}

.btn-custom {
    background-color: #305EBB;
    color: lightgoldenrodyellow;
}

/*.form-inline {
    width: auto;
    padding-inline: 1px;
    padding-right: 10px;
}*/

body {
    font-family: Varela Round, Varela Round, sans-serif;
    background: whitesmoke;
}

.card-sl {
    border-radius: 10px 10px 0 0;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.card-image {
    height: 75%;
    width: 75%;
    padding: 10px 10px 5px 5px;
    object-fit: contain;
}

.text-custom {
    padding: 1px 5px;
    background: #ffffff;
    font-family: Arial Black, Arial, sans-serif;
    font-size: 28px;
    color: darkslateblue;
}

.text-custom1 {
    padding: 5px 10px;
    background: whitesmoke;
    font-family: Arial Black, Arial, sans-serif;
    font-size: 32px;
    color: #040000;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
.form-group.required .control-label:after{
    font-weight: bold;
    color: red;
    content: "*";
    position: absolute;
}