<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="/books.js"></script>
    <title>LibraryBooks</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<link href="/my-style.css" rel="stylesheet">

<nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">Library App</a>
    <img alt="" height="50"
         src="https://image.shutterstock.com/image-vector/template-logo-library-bookstore-four-600w-299085131.jpg"
         width="50">
    <ul class="navbar-nav bd-navbar-naw mr-auto flex-row">
        <li class="nav-item">
            <a class="nav-link  px-1 mx-1 py-3 my-n2" href="/library">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/readers">Readers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/borrowedBooks">Borrowed books </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/contact">Contact</a>
        </li>
    </ul>
</nav>
<div class="my-5"></div>

<section class="container">
    <h2 class="h1 m-0">Contact us</h2>
    <div class="row">
        <div class="col-lg-5 mb-4">
            <div class="card border-primary rounded-0">
                <div class="card-header p-0">
                    <div class="bg-primary text-white text-center py-2">
                        <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                        <p class="m-0">We'll write rarely, but only the best content.</p>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="form-group">
                        <label>Your name</label>
                        <div class="input-group">
                            <div class="input-group-addon bg-light"><i class="fa fa-user text-primary"></i></div>
                            <label for="inlineFormInputGroupUsername"></label><input type="text" class="form-control"
                                                                                     id="inlineFormInputGroupUsername"
                                                                                     placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your email</label>
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon bg-light"><i class="fa fa-envelope text-primary"></i></div>
                            <input type="text" class="form-control" id="inlineFormInputGroupEmail"
                                   placeholder="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon bg-light"><i class="fa fa-pencil text-primary"></i></div>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary btn-block rounded-0 py-2">Submit</button>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-4">
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://github.com/iaro-S"
                       class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fab fa-github-square white-text fa-2x"></i></a>
                    <p>Github <br></p>

                </div>

                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-phone fa-2x"></i></a>
                    <p>+40 727 132 145 <br></p>
                </div>

                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-envelope fa-2x"></i></a>
                    <p>iaroslav.slovak@gmail.com<br></p>
                </div>
            </div>

        </div>
    </div>

</section>
<footer class="footer bg-dark text-white">
    <div class="bg-light">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6 col-lg-7">
                    <h4 class="mb-0 text-dark">Get connected with us on social networks!</h4>
                </div>
                <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook-square white-text mr-lg-4 fa-2x "> </i>
                </a>
                <a href="https://twitter.com/">
                    <i class="fab fa-twitter-square white-text mr-lg-4 fa-2x"> </i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram white-text mr-lg-4 fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin-square white-text mr-lg-4 fa-2x"> </i>
                </a>
                <a>
                    <i class="fab fa-github-square white-text mr-lg-4 fa-2x"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="container pt-5 pb-2">
        <div class="row">

            <div class="col-md-3 col-lg-4 col-xl-7">
                <h4>Library of Alexandria</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25 ">
                <p>
                    Information on this website, is provided for information purposes only. The facts and data provided
                    are believed to be reliable when posted.Library of Alexandria cannot guarantee that they are
                    accurate or complete or that they will be current at all times. Information on this website
                    is not intended to provide legal, accounting, tax or business advice and should not be relied upon
                    in that regard. The information on this website is subject to change without notice.
                </p>
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3">
                <h4>Contact</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p><i class="fa fa-home mr-3"></i>Oradea, Romania</p>
                <p><i class="fa fa-envelope mr-3"></i> office@library.com</p>
                <p><i class="fa fa-phone mr-3"></i> +40 259 765 432 </p>
                <p><i class="fa fa-print mr-3"></i> +40 259 765 433 </p>
            </div>

        </div>
    </div>
    <hr class="bg-white mx-4 mt-2 mb-1">
    <div class="container-fluid">
        <p class="text-center m-0 py-1">
            © 2017 Copyright <a href="#" class="text-white">Bootstrap-4</a>
        </p>
    </div>
</footer>
</body>
</html>