<html lang="en">
<head>
    <title>LibraryReaders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <script src="/readers.js"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<link href="/my-style.css" rel="stylesheet">
<nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">Library App</a>
    <img alt="" height="50"
         src="https://image.shutterstock.com/image-vector/template-logo-library-bookstore-four-600w-299085131.jpg"
         width="50">
    <ul class="navbar-nav bd-navbar-naw mr-auto flex-row">
        <li class="nav-item">
            <a class="nav-link  px-1 mx-1 py-3 my-n2" href="/library">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/readers">Readers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/borrowedBooks">Borrowed books </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/info">Contact</a>
        </li>
    </ul>
</nav>

<div class="container mt-4 col-sm-7">
    <div class="form-inline ">
        <button type="button" class="btn btn-custom btn-sm mb-2" data-toggle="modal" data-target="#readers-modal">Add
            reader
        </button>
        <div class="col mt-2 ">
            <form class="form-inline" th:action="@{/library/readers}" method="get">
                <label for="txtSearch"></label>
                <input id="txtSearch" class="form-control form-control-sm w-99" type="text" placeholder="Search.."
                       name="keyword"/>
                <input id="mySubmit" type="submit" value="Go" class="hidden"/>
            </form>
        </div>
    </div>
    <table class="table table-custom">
        <col style="width:3%">
        <col style="width:13%">
        <col style="width:13%">
        <col style="width:7%">
        <col style="width:25%">
        <col style="width:15%">
        <col style="width:9%">
        <col style="width:5%">

        <thead class="thead-custom">
        <tr>
            <th>No</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>LibraryCard</th>
            <th>Address</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr data-th-each="readers: ${readers}">
            <td data-th-text="${readers.readerId}"></td>
            <td>
                <a class="text-decoration-none text-dark"
                   data-th-href="'/library/readers?showReader='+${readers.readerId}"
                   data-th-text="${readers.firstName}"></a>
            </td>
            <td><a class="text-decoration-none text-dark"
                   data-th-href="'/library/readers?showReader='+${readers.readerId}"
                   data-th-text="${readers.lastName}"></a></td>
            <td data-th-text="${readers.libraryCard}"></td>
            <td data-th-text="${readers.address}"></td>
            <td data-th-text="${readers.email}"></td>
            <td data-th-text="${readers.phone}"></td>
            <td>
                <div data-th-id="${readers.readerId}" style="cursor: pointer">
                    <i class="fas fa-edit mr-2 edit-icon" data-target="#readers-modal" data-toggle="modal"
                       style="color: blue"></i>
                    <a data-th-href="'/library/readers/'+${readers.readerId}"></a>
                    <i class="fas fa-trash-alt delete-icon" style="color: red;"></i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="shadow-lg p-2 mb-5 mt-5 bg-white rounded col-sm-5" data-th-if="${showReader!=null}">
        <div class="row no-gutters justify-content-center mb-2" style="background-color: darkseagreen">
            <div class="col-sm-4 align-items-center ">
                <img class="card-img" alt="" height="180" width="140"
                     src="https://spng.subpng.com/20180315/kfe/kisspng-ocean-county-library-central-library-scalable-vect-svg-image-library-5aaac27b1095a4.4460469615211403470679.jpg"
                >
            </div>
            <div class="col mr-2">
                <div class="text-xs font-weight-bold mb-2" style="color: mediumblue">
                    <span data-th-text="${showReader.libraryCard}"></span>
                </div>
                <div class="h5 mb-2 font-weight-bold  text-gray-800">
                    <th>Name:</th>
                    <span data-th-text="${showReader.firstName}"></span>
                    <span data-th-text="${showReader.lastName}"></span>
                </div>
                <div class="h5 mb-2 font-weight-bold text-gray-800">
                    <span data-th-text="${showReader.address}"></span>
                </div>
                <div class="h5 mb-2 font-weight-bold text-gray-800">
                    <span data-th-text="${showReader.phone}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="readers-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reader</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="modal-readers-firstName">FirstName</label>
                    <input class="form-control" id="modal-readers-firstName" type="text" th:required="required"/>
                </div>
                <div class="form-group">
                    <label for="modal-readers-lastName">LastName</label>
                    <input class="form-control" id="modal-readers-lastName" type="text" value=""/>
                </div>
                <div class="form-group">
                    <label for="modal-readers-libraryCard">LibraryCard</label>
                    <input class="form-control" id="modal-readers-libraryCard" type="number" min="10000"
                           max="99999"/>
                </div>
                <div class="form-group">
                    <label for="modal-readers-address">Address</label>
                    <input class="form-control" id="modal-readers-address" type="text" value=""/>
                </div>
                <div class="form-group">
                    <label for="modal-readers-email">E-mail</label>
                    <input class="form-control" id="modal-readers-email" type="email" value=""/>
                </div>
                <div class="form-group">
                    <label for="modal-readers-phone">Phone</label>
                    <input class="form-control" id="modal-readers-phone" type="text" value=""/>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-reader-button">Save
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>