<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <title>Single Book Page</title>
</head>

<body>
<link href="/my-style.css" rel="stylesheet">
<nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">Library App</a>
    <img alt="" height="40"
         src="https://image.shutterstock.com/image-vector/template-logo-library-bookstore-four-600w-299085131.jpg"
         width="40">
    <ul class="navbar-nav bd-navbar-naw mr-auto flex-row">
        <li class="nav-item">
            <a class="nav-link  px-1 mx-1 py-3 my-n2" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/library/readers">Readers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="#">Borrowed books </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-1 mx-1 py-3 my-n2" href="#">Info</a>
        </li>
    </ul>
</nav>
<div class="container" style="margin-top:50px; align-self: center">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-sl">
                <div class="card-image mx-auto">
                    <img class="img-center"
                         src="https://woopywoops.co.uk/woopywoops-jss/2020/09/51HoTTx2ZhL._SX327_BO1204203200_.jpg"/>
                </div>
                <!--
                                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                -->
                <!--  <div class="card-heading">
                      Audi Q8
                  </div>
                  <div class="card-text">
                      Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                  </div>
                  <div class="card-text">
                      $67,400
                  </div>-->
                <a href="#" class="card-button">Borrow</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>